@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

img {
	display: block;
	max-width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    background: #222222;
}

.navigation {
    padding-top: 18px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu__bar {
    display: flex;
    gap: 33px;
    align-items: center;
}

.btn_menu {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown__menu {
    position: absolute;
    right: 0;
    background: #FFFFFF;
    min-width: 232px;
    z-index: 1;
    padding-top: 32px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    display: none;
}

.dropdown__menu h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
    padding-left: 33px;
}

.dropdown__list {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
    padding-left: 33px;
}

.dropdown__sublist {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 20px;
    padding-left: 53px;
}

.dropdown__sublist:last-child {
    margin-bottom: 32px;
}

.dropdown__sublist a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.basket {
    position: relative;
}

.btn_menu span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 50px;
    padding: 1px 5px;
    position: absolute;
    right: -7px;
    bottom: 21px;
}

main {
    background: #F1E4E6;
}

.main__section {
    display: flex;
    align-items: center;
    gap: 60px;
}

.main__content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.main__content h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.main__content h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
}

mark {
    color:#F16D7F;
    background: none;
}

.offer__cards {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.offer__card__text {
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer__card__text h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer__card__text h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.big {
    grid-column: span 3;
}

.offer__card {
    background: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.women {
    background-image: url(./img/card_for_women.svg);
}

.men {
    background-image: url(./img/card_for_men.svg);
}

.kids {
    background-image: url(./img/card_for_kids.svg);
}

.accesories {
    background-image: url(./img/card_accesories.svg);
    width: 1140px;
    height: 180px;
}

.products__title {
    text-align: center;
    margin-bottom: 48px;
}

.products__title h1{
    margin-bottom: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products__title h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}


.products__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.products__card {
    background: #F8F8F8;
}

.product__img  {
    position: relative;
}

.product__add {
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
}

.btn__add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    background: none;
    border: 1px solid #FFFFFF;
    width: 138px;
    height: 43px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}

.product__img:hover .product__add {
    display: flex;
}



.products__info {
    margin-left: 16px;
}

.products__info h2 {
    margin-top: 25px;
    margin-bottom: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.products__info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.products__info h3 {
    margin-top: 18px;
    margin-bottom: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.bcg {
    background-image:url(./img/background_product.svg);
    width: 360px;
    height: 420px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.products__btn {
    display: flex;
    justify-content: center;
}

.btn__browse {
    margin-top: 49px;
    margin-bottom: 95px;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    cursor: pointer;
    background: none;
}

.btn__browse:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.background__color {
    background: #222224;
}

.features {
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.feature h3 {
    margin-top: 19px;
    margin-bottom: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.background__img {
    background: url(./img/background__img.svg);
    background-position: bottom left;
    background-size: cover;
    position: relative;
}
.background__img::before {
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(244, 244, 244, 0.7)
}

.subscription__section {
    padding-top: 97px;
    padding-bottom: 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.subscribe__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subscribe__info p {
    width: 360px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.subscribe__info p span {
    font-style: italic;
}

.subscribe__form__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__form__title h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.subscribe__form__title p {
    width: 557px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.subscribe__form {
    display: flex;
    gap: 0px;
}

.subscribe__email {
    width: 256px;
    height: 49px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
    background: #E1E1E1;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.ssubscribe__btn {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F16D7F;
    border: none;
    width: 100px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.copyright {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social__icons {
    display: flex;
    gap: 7px;
}

.social__icons a:hover rect {
    fill:#F16D7F;
}

.social__icons a:hover path{
    fill: #FFFFFF;
}

.social__icons a:hover .rect__change{
    fill:#F16D7F;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 735px;
    }
    
    .main__section {
        gap: 39px;
    }
    
    .main__section img {
        width: 40%;
        margin-left: 75px; /* т.к. картинку обрезала, выравниваю по макету*/
    }
    .main__content h1 {
        font-size: 44px;
        line-height: 53px;
    }
    .main__content h2{
        font-size: 24px;
        line-height: 29px;
    }
    .offer__cards {
        gap: 20px;
    }
    .offer__card {
        height: 168px;
        width: 232px;
    }
    .accesories {
        width: 735px;
        height: 116px;
    }
    .products {
        margin-top: 58px;
        margin-bottom: 71px;
    }
    .products__title {
        margin-bottom: 43px;
    }
    .products__title h1{
        margin-bottom: 3px;
    }
    .products__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
    }
    .btn__products {
        margin-top: 33px;
    }

    .features {
    padding-top: 48px;
    padding-bottom: 64px;
    flex-direction: column;
    gap: 48px;
    }
    .feature p {
        width: 360px;
    }

    .subscription__section {
    padding-top: 64px;
    padding-bottom: 140px;
    flex-direction: column;
    gap: 50px; 
}

.subscribe__form__title p {
    margin-bottom: 27px;
}

}

@media (min-width: 375px) and (max-width: 767px) {
    .container {
        width: 375px;
    }
    .navigation {
        padding-left: 16px;
        padding-right: 26px;
    }
    .hide {
        display: none;
    }
    .main__section {
        justify-content: center;
    }  
    .main__section img {
        display: none;
    } 
    .main__content {
        padding-left: 15px;
        margin-top: 148px;
        margin-bottom: 148px;
    }
    .main__content h1 {
        font-size: 38px;
        line-height: 46px;
    }
    .main__content h2{
        font-size: 20px;
        line-height: 24px;
    }
    .offer__cards {
        padding-top: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
    .offer__card {
        height: 247px;
        width: 343px;
    }
    .accesories {
        width: 343px;
        height: 111px;
    }
    .products {
        margin-top: 64px;
        margin-bottom: 85px;
    }
    .products__title {
        margin-bottom: 65px;
    }
    .products__title h1{
        margin-bottom: 3px;
    }
    .products__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
    .products__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products__info {
        margin-left: 17px;
        margin-right: 29px;
    }
    
    .products__info h2 {
        margin-top: 23px;
        margin-bottom: 12px;
    }
    .btn__products {
        margin-top: 41px;
        margin-bottom: 96px;
    }
    .features {
        padding-top: 48px;
        padding-bottom: 81px;
        flex-direction: column;
        gap: 46px;
    }
    .feature h3 {
        margin-top: 18px;
        margin-bottom: 14px;
    }
    .feature p {
        width: 348px;
    }
    .subscription__section {
        padding-top: 64px;
        padding-bottom: 110px;
        flex-direction: column;
        gap: 59px;
    }
    .subscribe__info p {
        width: 343px;
        font-size: 18px;
        line-height: 22px;
    }
    .subscribe__form__title p {
        width: 271px;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 22px;
    }
    .subscribe__email {
        height: 46px;
        padding-left: 21px;
    }
    .ssubscribe__btn {
        width: 95px;
    }
    .copyright {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column-reverse;
        gap: 40px;
    }
}

@media (max-width: 374px) {
    .container {
        width: 320px;
    }
    .navigation {
        padding-left: 16px;
        padding-right: 26px;

    }
    .hide {
        display: none;
    }
    .main__section {
        justify-content: center;
    }  
    .main__section img {
        display: none;
    } 
    .main__content {
        padding-left: 15px;
        margin-top: 148px;
        margin-bottom: 148px;
    }
    .main__content h1 {
        font-size: 38px;
        line-height: 46px;
    }
    .main__content h2{
        font-size: 20px;
        line-height: 24px;
    }
    .offer__cards {
        padding-top: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
    .offer__card {
        height: 247px;
        width: 320px;
    }
    .accesories {
        width: 343px;
        height: 111px;
    }
    .products {
        margin-top: 64px;
        margin-bottom: 85px;
    }
    .products__title {
        margin-bottom: 65px;
    }
    .products__title h1{
        margin-bottom: 3px;
    }
    .products__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
    .products__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bcg {
        width: 320px;
    }
    .products__info {
        margin-left: 17px;
        margin-right: 29px;
    }
    .products__info h2 {
        margin-top: 23px;
        margin-bottom: 12px;
    }
    .btn__products {
        margin-top: 41px;
    }
    .features {
        padding-top: 48px;
        padding-bottom: 81px;
        flex-direction: column;
        gap: 46px;
    }
    .feature h3 {
        margin-top: 18px;
        margin-bottom: 14px;
    }
    .feature p {
        width: 315px;
    }
    .subscription__section {
        padding-top: 64px;
        padding-bottom: 110px;
        flex-direction: column;
        gap: 59px;
    }
    .subscribe__info p {
        width: 310px;
        font-size: 18px;
        line-height: 22px;
    }
    .subscribe__form__title p {
        width: 215px;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 22px;
        
    }
    .subscribe__email {
        width: 200px;
        height: 46px;
        padding-left: 21px;
    }
    .ssubscribe__btn {
        width: 90px;
    }
    .copyright {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column-reverse;
        gap: 40px;
    }
}